@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

:root {
  --primary-brown: #C58E4C;
  --dark-brown: #BC7B3B;
  --light-gray: #E5E5E5;
  --accent-orange: #D78F00;
  --dark-green: #5B7B57;
}

body {
  background-color: #f9f9f9;
  color: #333;
  line-height: 1.6;
}